{% extends "base.html" %}

{% block title_head %}
Lista Alumnos
{% endblock title_head %}


{% block h1_header %}
Alumnos
{% endblock h1_header %}

{% block contenido %}

<a href={% url "crear_alumno" %}>Creacion Alumno</a>

<form action={% url "alumnos" %} method='get'>
    {{formulario}}
    <input type="submit" value='Buscar'>
</form>

{% if alumnos %}
    <ul>
        {% for alumno in alumnos %}
        <li>{{alumno}} - 
        <a href={% url "eliminar_alumno" alumno.id %}>Eliminar</a></li> - 
        <a href={% url "editar_alumno" alumno.id %}>Editar</a></li> - 
        <a href={% url "ver_alumno" alumno.id %}>Ver</a></li>
        
        {% endfor %}
    </ul>

{% else %}
<p>
    No hay alumnos creados
</p>
{% endif %}

{% endblock contenido %}