{% extends "base.html" %}

{% block title_head %}
Lista zapatillas
{% endblock title_head %}


{% block h1_header %}
Listado de zapatillas
{% endblock h1_header %}

{% block contenido %}

<a href={% url "crear_zapatilla" %}>Creacion zapatilla</a>

{% if Zapatilla %}
    <ul>
        {% for zapatilla in zapatillas %}
        <li>{{zapatillas}} - 
        {% comment %} <a href={% url "eliminar_paleta" paleta.id %}>Eliminar</a></li> - 
        <a href={% url "editar_paleta" paleta.id %}>Editar</a></li> - 
        {% endcomment %}
        <a href={% url "ver_zapatilla" zapatilla.id %}>Ver</a></li>
        {% endfor %}
    </ul>

{% else %}
<p>
    No hay zapatillas creadas
</p>
{% endif %}

{% endblock contenido %}