{% extends "base.html" %}

{% block title_head %}
Lista Paletas
{% endblock title_head %}


{% block h1_header %}
Listado de Paletas
{% endblock h1_header %}

{% block contenido %}

<a href={% url "crear_paleta" %}>Creacion Paleta</a>

{% if paletas %}
    <ul>
        {% for paleta in paletas %}
        <li>{{paleta}} - 
        {% comment %} <a href={% url "eliminar_paleta" paleta.id %}>Eliminar</a></li> - 
        <a href={% url "editar_paleta" paleta.id %}>Editar</a></li> - 
        {% endcomment %}
        <a href={% url "ver_paleta" paleta.id %}>Ver</a></li>
        {% endfor %}
    </ul>

{% else %}
<p>
    No hay paletas creadas
</p>
{% endif %}

{% endblock contenido %}