{% extends "base.html" %}

{% block title_head %}
Ver Perfil
{% endblock title_head %}

{% block h1_header %}
Ver Perfil
{% endblock h1_header %}

{% block contenido %}
 <ul>
    <li> Email: {{request.user.email}}</li>
    <li> Usuario: {{request.user.username}}</li>
    <li> Nombre: {{request.user.first_name}}</li>
    <li> Apellido: {{request.user.last_name}}</li>
    <li> Hobbie: {{request.user.datosextra.hobbie}}</li>
    
    {% if request.user.datosextra.avatar %}
    <li> Avatar: <img src="{{request.user.datosextra.avatar.url}}" alt="Avatar" height = "50px">
        {% endif %} 
        
    </li>
</ul>  
<a href={% url "editar_perfil" %}>Editar Perfil</a>

{% endblock contenido %}